
<div class="sidebar" style="display:none" id="leftMenu">
    <button ng-click="closeLeftMenu()" class="menu_item">&times;</button>
    
    <input type ="text" placeholder="{{'NAME OF PLACE OR SERVICE'|translate}}" size="22" id="srch" style="font-size: 15px">
    <br>
    <button class="button" ng-click="search()">{{'SEARCH'|translate}}</button>
    <div id="srch_results">
    </div>
</div>

<button ng-click="openLeftMenu()" class="navbutton">&#128269;</button>

<div id = "map" style="height:100%;background:#888888; margin:0;"></div>

